<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 系统管理 -->
<mapper namespace="com.qiyuely.ums.dao.SysDao">
	<!-- 初始化数据库 -->
	<insert id="initDb">
		<!-- url信息表 -->
		create table if not exists t_url comment 'url信息表' (
			id varchar(32) comment 'id' primary key,
			url varchar(255) comment 'url',
			remark varchar(500) comment '备注'
		);
		
		<!-- url类型表 -->
		create table if not exists t_url_type comment 'url类型表' (
			id varchar(32) comment 'id' primary key,
			name varchar(50) comment '类型名称',
			parent_id varchar(32) comment '父编号'
		);
		
		<!-- url类型关系表 -->
		create table if not exists t_url_type_rel comment 'url类型关系表' (
			url_id varchar(32) comment 'url id',
			url_type_id varchar(32) comment 'url类型id'
		);
		
		<!-- url类型模板表 -->
		create table if not exists t_url_type_temp comment 'url类型模板表' (
			id varchar(32) comment 'id' primary key,
			name varchar(50) comment '类型模板名称'
		);
		
		<!-- url类型模板关系表 -->
		create table if not exists t_url_type_temp_rel comment 'url类型模板关系表' (
			url_type_temp_id varchar(32) comment 'url类型模板id',
			url_type_id varchar(32) comment 'url类型id'
		);
		
		<!-- 操作设定历史表 -->
		create table if not exists t_op_setting_history comment '操作设定历史表' (
			op_key varchar(80) comment '操作主键' primary key,
			setting varchar(5000) comment '操作设定'
		);
	</insert>
</mapper>