<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- url管理 -->
<mapper namespace="com.qiyuely.ums.dao.UrlManagerDao">
	<resultMap id="UrlEntity" type="com.qiyuely.ums.entity.url.UrlEntity"/>
	<parameterMap id="UrlEntity" type="com.qiyuely.ums.entity.url.UrlEntity"/>
	
	<!-- 表所有字段 -->
	<sql id="allColumns">
		id, url, remark
	</sql>
	
	<!-- 插入 -->
	<insert id="insert" parameterMap="UrlEntity">
		insert into t_url (<include refid="allColumns"/>
		) values (
			#{id},
            #{url},
            #{remark}
		)
	</insert>
	
	<!-- 查询列表 -->
	<select id="queryList" resultMap="UrlEntity" parameterType="com.qiyuely.ums.req.url.UrlQueryReq">
		select <include refid="allColumns"/> from t_url
	</select>
</mapper>