<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- url类型管理 -->
<mapper namespace="com.qiyuely.ums.dao.UrlTypeDao">
	<resultMap id="BaseMap" type="com.qiyuely.ums.entity.url.UrlTypeEntity"/>
	<parameterMap id="BaseMap" type="com.qiyuely.ums.entity.url.UrlTypeEntity"/>
	
	<!-- 表所有字段 -->
	<sql id="allColumns">
		id, name, parent_id
	</sql>
	
	<!-- 查询列表 -->
	<select id="queryList" resultMap="BaseMap">
		select <include refid="allColumns"/> from t_url_type
	</select>
	
	<!-- 插入 -->
	<insert id="insert" parameterMap="BaseMap">
		insert into t_url_type (<include refid="allColumns"/>
		) values (
			#{id},
            #{name},
            #{parentId}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		update t_url_type
		<set>
			<if test="name != null">
	        	name = #{name},
	      	</if>
	      	<if test="parentId != null">
	        	parent_id = #{parentId},
	      	</if>
		</set>
		where id = #{id}
	</update>
	
	<!-- 删除 -->
	<delete id="delete">
		delete from t_url_type where id = #{id}
	</delete>
</mapper>