<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a ui-sref="urlTypeView">URL类型</a>
			</li>
		</ul>
	</div>
	
	<div class="page-content">
		<div class="page-content-area">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							
							<div class="dd" id="nestable">
								
								<script id="urlTypeRecursion" type="text/ng-template">
									<li class="dd-item {{data.childList.length != 0 && data.expandStatus == 1 ? '' : 'dd-collapsed'}}">
										<button ng-click="data.expandStatus = 0" ng-show="data.childList.length != 0 && data.expandStatus == 1" data-action="collapse" type="button">Collapse</button>
										<button ng-click="data.expandStatus = 1" ng-show="data.childList.length != 0 && data.expandStatus == 0" data-action="expand" type="button">Expand</button>
										<div class="dd-handle">
											{{data.name}}
											<div class="pull-right action-buttons">
												<a ng-click="toAdd(data)" class="blue" href="#">
													<i class="ace-icon fa fa-plus-square bigger-130"></i>
												</a>
												<a ng-click="toUpdate(data)" ng-if="isAllowUpdate(data)" class="blue" href="#">
													<i class="ace-icon fa fa-pencil bigger-130"></i>
												</a>
												<a ng-click="del($index, parentData)" ng-if="isAllowDel(data)" class="red" href="#">
													<i class="ace-icon fa fa-trash-o bigger-130"></i>
												</a>
											</div>
										</div>
										
										<ol class="dd-list" ng-init="parentData=data; data=childData" ng-repeat="childData in data.childList" ng-include="'urlTypeRecursion'">
										</ol>
									</li>
								</script> 
							
								<ol class="dd-list" ng-repeat="data in dataList" ng-include="'urlTypeRecursion'">
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 编辑界面 -->							
	<div id="editPanel" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header no-padding">
					<div class="table-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							<span class="white">&times;</span>
						</button>
						<div>{{editType == '0' ? '新增' : '修改'}}URL类型</div>
					</div>
				</div>
				
				<div class="modal-body">
					<div class="modal-edit-panel-content">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 父节点：</label>
								<div class="col-sm-9">
									<input disabled="disabled" ng-model="editData.parentName" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-6" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 节点名称：</label>
								<div class="col-sm-9">
									<input ng-model="editData.name" type="text" id="form-field-1" placeholder="节点名称" class="col-xs-10 col-sm-6" />
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<div class="modal-footer no-margin-top">
					<button ng-click="save()" class="btn btn-white btn-info btn-bold pull-left">
						<i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
						保 存
					</button>
					<button class="btn btn-white btn-pink btn-round pull-left" data-dismiss="modal">
						<i class="ace-icon fa fa-times red2"></i>
						关 闭
					</button>
				</div>
				
			</div>
		</div>
		
	</div>
	
</body>
</html>