<!DOCTYPE html>
<div>
	<!-- url类型选择组件界面 -->							
	<div id="urlTypeSelectModulePanel" class="modal fade" tabindex="-2">
		<div class="modal-dialog" style="width: 1200px;">
			<div class="modal-content">
				<div class="modal-header no-padding">
					<div class="table-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							<span class="white">&times;</span>
						</button>
						<div>URL类型选择</div>
					</div>
				</div>
				
				<div class="modal-body">
					<div class="modal-edit-panel-content">
						<div class="dd" id="nestable">
							<script id="urlTypeSelectModuleRecursion" type="text/ng-template">
								<li class="dd-item {{typeData.childList.length != 0 && typeData.expandStatus == 1 ? '' : 'dd-collapsed'}}">
									<button ng-click="typeData.expandStatus = 0" ng-show="typeData.childList.length != 0 && typeData.expandStatus == 1" data-action="collapse" type="button">Collapse</button>
									<button ng-click="typeData.expandStatus = 1" ng-show="typeData.childList.length != 0 && typeData.expandStatus == 0" data-action="expand" type="button">Expand</button>
									<div ng-click="urlTypeSelectModule.typeSelectLi(typeData)" class="dd-handle">
										{{typeData.name}}
										<div class="pull-right action-buttons">
											
										</div>
										<span ng-show="urlTypeSelectModule.isTypeSelectedLi(typeData)" class="sticker">
											<span class="label label-success arrowed-in">
												<i class="ace-icon fa fa-check bigger-110"></i>
											</span>
										</span>
									</div>
									
									<ol class="dd-list" ng-init="parentTypeData=typeData; typeData=childTypeData" ng-repeat="childTypeData in typeData.childList" ng-include="'urlTypeSelectModuleRecursion'">
									</ol>
								</li>
							</script> 
						
							<ol class="dd-list" ng-repeat="typeData in urlTypeSelectModule.typeDataList" ng-include="'urlTypeSelectModuleRecursion'">
							</ol>
												
						</div>
					</div>
				</div>
				
				<div class="modal-footer no-margin-top">
					<button ng-click="urlTypeSelectModule.save()" class="btn btn-white btn-info btn-bold pull-left">
						<i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
						确 定
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

